<!DOCTYPE html>
<html lang="en" ng-app="angular-transitions">
	<head>
		<title>AngularJS Transitions</title>
		<link rel="stylesheet" href="./lib/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="./css/styles.css">
		<link rel="stylesheet" href="./lib/select2/select2.css">
		<link rel="stylesheet" id="v115" href="../css/view/1.1.5/animations.css">
		<link rel="stylesheet" id="r115" href="../css/repeat/1.1.5/animations.css">
		<link rel="stylesheet" id="v120" href="../css/view/1.2.0/animations.css">
		<link rel="stylesheet" id="r120" href="../css/repeat/1.2.0/animations.css">
	</head>
	<body ng-controller="MainCtrl">
		<a href="https://github.com/mgechev/angular-transitions"><img style="position: fixed; z-index: 100000; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
		<nav class="navbar navbar-default" role="navigation">
		  <div class="navbar-header">
		    <a class="navbar-brand" href="#">AngularJS Transitions</a>
		  </div>
		  <div class="collapse navbar-collapse navbar-ex1-collapse">
		    <ul class="nav navbar-nav">
		      <li ng-class="{ 'active': currentState.indexOf('view') >= 0 }"><a href="#/view/page1">View transition (ng|ui)-view</a></li>
		      <li ng-class="{ 'active': currentState === 'repeat' }"><a href="#/repeat">Repeat (ng-repeat)</a></li>
		      <li><a style="cursor: pointer;" data-toggle="modal" data-target="#styles-dialog" ng-click="showCSS()">Copy CSS</a></li>
		    </ul>
		  </div>
		</nav>
		  <!-- Modal -->
		  <div class="modal fade" id="styles-dialog" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false">
		    <div class="modal-dialog">
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="resetDialog()">&times;</button>
		          <h4 class="modal-title">Select style</h4>
		        </div>
		        <div class="modal-body">
		        	<table class="table" ng-hide="loading">
		        		<thead>
	        				<tr>
			        			<th>1.1.5</th>
			        			<th>1.2.0</th>
		        			</tr>
		        		</thead>
		        		<tbody>
		        			<tr>
		        				<td>
		        					<textarea class="form-control" at-selectable name="" id="" cols="37" rows="10" ng-bind="v115Rules"></textarea>
		        				</td>
		        				<td>
		        					<textarea class="form-control" at-selectable name="" id="" cols="37" rows="10" ng-bind="v120Rules"></textarea>
		        				</td>
		        			</tr>
		        			<tr>
		        				<td colspan="2">
		        					<h4>Usage (v1.1.5)</h4>
		        					<pre><code>
&lt;div
  ng-animate=&quot;{
  enter: '{{selectedStyle.enter}}',
  leave: '{{selectedStyle.leave}}'
}&quot;&gt;&lt;/div&gt;
		        					</code></pre>
		        				</td>
	        				<tr>
	        				</tr>
		        				<td colspan="2">
		        					<h4>Usage (v1.2.0)</h4>
		        					<pre><code>
&lt;div
  class=&quot;{{selectedStyle.enter}}
         {{selectedStyle.leave}}&quot;&gt;
&lt;/div&gt;
		        					</code></pre>
		        				</td>
		        			</tr>
		        			<tr>
		        				<td colspan="2">For further details check the AngularJS <a href="http://docs.angularjs.org" target="_blank">documentation.</a></td>
		        			</tr>
		        		</tbody>
		        	</table>
		        	<img src="images/loader.gif" alt="" ng-show="loading">
		        </div>
		      </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		  </div><!-- /.modal -->
		<div ui-view>
		</div>
		<script src="./lib/jquery/jquery.js"></script>
		<script src="./lib/angularjs/index.js"></script>
		<script src="./lib/angular-ui-router/angular-ui-router.min.js"></script>
		<script src="./lib/select2/select2.js"></script>
		<script src="./lib/angular-ui-select2/select2.js"></script>
		<script src="./lib/bootstrap/bootstrap.js"></script>
		<script src="./lib/css-parser/index.js"></script>
		<script src="./lib/cssbeautify/index.js"></script>
		<script src="./js/app.js"></script>
	    <script>
	      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	      ga('create', 'UA-18060688-13', 'mgechev.com');
	      ga('send', 'pageview');

	    </script>
	</body>
</html>